broker.id={{ ansible_play_hosts.index(inventory_hostname) + 1 }}

listeners=PLAINTEXT://{{ ansible_facts['hostname'] }}:9091
advertised.listeners=PLAINTEXT://{{ ansible_facts['hostname'] }}:9091

num.network.threads=3

num.io.threads=8

socket.send.buffer.bytes=102400

socket.receive.buffer.bytes=102400

socket.request.max.bytes=104857600

log.dirs=/var/log/kafka-logs

num.partitions=1

num.recovery.threads.per.data.dir=1

offsets.topic.replication.factor=1
transaction.state.log.replication.factor=1
transaction.state.log.min.isr=1

log.retention.hours=168

log.retention.check.interval.ms=300000

zookeeper.connect={{ groups['zookeeper_servers'] | join(':2181,') }}:2181
zookeeper.connection.timeout.ms=18000

zookeeper.set.acl=false

group.initial.rebalance.delay.ms=0
